@model ThemeParkManagementSystem.Entities.Ride


<!-- Author - Alex -->
<!-- This view allows the user view selected Rides and Ride information for the Theme Park's System-->

@{
    ViewData["Title"] = "Ride Details";
}

<h1>Ride Details</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <dl class="row">
            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Price</dt>
            <dd class="col-sm-9">@Model.Capacity.ToString("C")</dd>

            <dt class="col-sm-3">Valid On</dt>
            <dd class="col-sm-9">@Model.WaitTime</dd>

            <dt class="col-sm-3">Date Purchased</dt>
            <dd class="col-sm-9">@Model.NextMaintenance.ToString()</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
